.header-dropdown {
  background-color: var(--main-color);
  border: none;
  color: var(--text-color);
}
.form-dropdown {
  border: 2px solid rgb(225, 227, 230);
  color: rgb(141, 141, 143);
  padding: 1.2rem 1rem 1.2rem;
  width: 28%;
  border-radius: 5px;
}
select:focus {
  outline: none;
  box-shadow: 2px 3px 20px 1px var(--main-color);
}
