.user_icon {
  position: relative;
}
.user_icon_hidden_text {
  width: 15rem;
  background-color: var(--main-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 2.2rem;
  left: -7rem;
}
.user_icon_hidden_text:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) transparent;
}
