.menu {
  font-family: "Vazir-Bold";
  color: var(--text-color);
  background-color: rgb(78, 27, 112);
  flex-grow: 0.5;
  transition: 0.5s;
}
.menu div {
  padding: 1.5rem;
  position: relative;
}
.menu .MenuIcon {
  position: absolute;
  display: inline-block;
  right: 1rem;
}
.menu .MenuContent {
  position: absolute;
  right: 4rem;
  display: inline-block;
}
