.search_container {
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  margin: 0 5px;
  border: 2px solid rgb(225, 227, 230);
  transition: 0.5s;
}

.search span {
  vertical-align: sub;
  cursor: pointer;
}
.hidden_search_content {
  color: var(--main-color);
}

.hidden_search_content label {
  color: black;
}
.hidden-search {
  padding-top: 1rem;
}
.right_search_input {
  width: 46% !important;
  margin-left: 10px;
}
.left_search_input {
  width: 25% !important;
}
.search-btn {
  text-align: center;
}

.search-btn button {
  width: 10rem;
}
.search-btn .left-button {
  background-color: var(--main-color);
  color: var(--text-color);
}
